.chatbot-move-button {
    position: fixed; 
    bottom: 12%; 
    right: 12%; 
    width: 50px;
    height: 50px;
    /*background-color: #00CE93;*/
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    z-index: 9000; 
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .chatbot-icon {
    width: 80px;   /* adjust as needed */
    height: auto;
  }