* {
  box-sizing: border-box;
}

/* General container styles for the header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width:700px;
    background-color: #FFF;
    color: #2A2738;
    padding: 10px 0px;
    margin: 0 auto;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px;
}

  .header-title {
    font-size: 20px;
    color: #2A2738;
    font-weight: 400;
    text-align: center;
    flex: 1; /* Ensures the title takes up the remaining space */
  }
  
  .header-container .notif-button {
    display: flex;
    background: none;
    border:none;
    cursor: pointer;
    align-items: center;
    margin-left:-3%;
    margin-right: 15px;
  }

  /* Styles for the back icon */
  .header-container .material-symbols-outlined {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #636363;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
  }

  .chatbot-move-button {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #00CE93; 
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    z-index: 9999;
  }